<p class="post-details">
	{% for category in include.post.categories %}
		<span class="blog-filter">
			<a href="{{ site.baseurl }}/category/{{ category | slugify }}/">{{ category | capitalize }}</a>
		</span>
	{% endfor %}
	<span class="post-date">
		{% if include.post.start_date and include.post.end_date %}
		  {{ include.post.start_date | date: "%B %Y" }} - 
		  {% if include.post.end_date == "current" %}
			Current
		  {% else %}
			{{ include.post.end_date | date: "%B %Y" }}
		  {% endif %}
		{% elsif include.post.start_date %}
		  {{ include.post.start_date | date: "%B %Y" }}
		{% else %}
		  {{ include.post.date | date: "%B %d, %Y" }}
		{% endif %}
	  </span>
	  
</p>
